* {
  box-sizing: border-box;
  
}

html {
  font-family: 'Jost', sans-serif;
  background-color: black;
  /* background-image: url(../images/skulls.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;   */
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Monster';
  src: url(fonts/melted-monster.ttf);
}

@font-face {
  font-family: 'Night-Terror';
  src: url(fonts/night-of-terror.ttf);
}

@font-face {
  font-family: 'Stranger';
  src: url(fonts/stranger-back-in-the-night.ttf);
}

@font-face {
  font-family: 'Shlop';
  src: url(fonts/shlop.ttf);
}

.bg-container {
  /* background-image: url(../images/deadpool.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; */
  
}

header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0.5rem;
  background-color: #880017;
  text-align: center;
  margin-bottom: 2rem;
  background-image: url(../images/skulls-bw.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

#header-title{
  margin-top: 25px;
  margin-bottom: -30px;
}

section {
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 1rem 0;
  background: black;
  /* border-radius: 12px; */
}

.healthbar__value {
  background-color: #00a876;
  width: 100%;
  height: 100%;
  /* border-radius: 12px; */
}

.container {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem auto;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  background-color: grey;
  /* background-image: url(../images/skulls.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

#monster h2,
#player h2 {
  margin: 0.25rem;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  font: inherit;
  border: 1px solid orange;
  background-color: orange;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 1rem;
  width: 12rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.5);
  font-family: 'Stranger';
  font-size: 50px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: red;
  border-color: red;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none;
  color: #3f3f3f;
  cursor: not-allowed;
}

h1 {
  color: orange;
  font-family: 'Shlop';
  font-size: 66px;
}

h2 {
  color: white;
  font-family: 'Shlop';
  font-size: 36px;
}

h3 {
  color: white;
  font-family: 'Shlop';
  font-size: 30px;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #7700ff;
}

.log--monster {
  color: #da8d00;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}